<div class="flex min-h-full">
  <div class="relative hidden w-0 flex-1 lg:block bg-gray-100 pt-3">
    <div>
      <div class="flex flex-col justify-center items-center text-3xl font-bold text-zinc-800">
        Fiza Noor Collection
      </div>
      <img
        class="absolute inset-0 h-auto w-auto object-cover mt-24"
        src="../../assets/images/login-33fdac8a.webp"
        alt=""
      />
    </div>
  </div>

  <div class="flex flex-1 flex-col justify-center px-4 py-12 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <h2 class="mt-8 text-5xl font-extrabold leading-9 text-center tracking-tight text-zinc-700">
          Welcome!
        </h2>
      </div>

      <div class="mt-10">
        <div>
          <form [formGroup]="loginForm" (ngSubmit)="login()" class="space-y-6">
            <div>
              <label
                for="email"
                class="block text-sm font-semibold leading-6 text-zinc-500"
              >E-mail</label>
              <div class="mt-2">
                <input
                  id="email"
                  formControlName="email"
                  type="email"
                  autocomplete="email"
                  placeholder="Your E-mail address"
                  required
                  class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-zinc-300 placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6"
                />
              </div>
              <div
                *ngIf="f['email'].invalid && (f['email'].dirty || f['email'].touched)"
                class="text-xs text-red-500"
              >
                <div *ngIf="f['email'].errors?.['required']">
                  Email is required.
                </div>
                <div *ngIf="f['email'].errors?.['email']">
                  Please enter a valid email address.
                </div>
              </div>
            </div>

            <div>
              <label
                for="password"
                class="block text-sm font-semibold leading-6 text-zinc-500"
              >Password</label>
              <div class="mt-2">
                <input
                  id="password"
                  formControlName="password"
                  type="password"
                  autocomplete="current-password"
                  placeholder="Your Password"
                  required
                  class="block w-full rounded-md border-0 py-1.5 shadow-sm ring-1 ring-inset ring-zinc-300 placeholder:text-zinc-400 focus:ring-2 focus:ring-inset focus:ring-zinc-600 sm:text-sm sm:leading-6"
                />
              </div>
              <div
                *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)"
                class="text-xs text-red-500"
              >
                <div *ngIf="f['password'].errors?.['required']">
                  Password is required.
                </div>
              </div>
            </div>
            <div>
              <button
                type="submit" (click)="login()"
                class="flex w-full justify-center rounded-full shadow-lg bg-zinc-600 px-3 py-2 text-lg font-semibold leading-6 text-white hover:bg-zinc-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-700"
              >
                Log in
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
