<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="text-base font-semibold sm:text-start text-center">CREATE PRODUCT</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="addProductForm" (ngSubmit)="getProductFormValue()" enctype="multipart/form-data">
    <div class="bg-slate-100">
      <div class="block sm:flex md:flex w-full">
        <div class="w-full sm:w-2/3 sm:mt-5 sm:mx-5 mt-2 px-2 sm:px-0">
          <div class="mb-5 shadow-md bg-white rounded-sm sm:px-5 py-2 px-2">
            <div>
              <label for="name" class="block my-2 text-zinc-500 font-semibold">Product Title</label>
              <input type="text" formControlName="productName" placeholder="Enter product title"
                class="text-zinc-500 font-sans w-full rounded-md focus:outline-none focus:ring-zinc-400 focus:accent-zinc-400 focus:border-zinc-400" />
              <div *ngIf="
            f['productName'].invalid &&
            (f['productName'].dirty || f['productName'].touched)
          " class="text-xs text-red-500">
                <div *ngIf="f['productName'].errors?.['required']">
                  Product name is required.
                </div>
                <div *ngIf="f['productName'].errors?.['minlength']">
                  Product name minimum 3 character long.
                </div>
                <div *ngIf="f['productName'].errors?.['maxlength']">
                  Product name maximum 20 character long.
                </div>
              </div>
            </div>
            <div>
              <label for="description" class="block mt-5 mb-2 text-zinc-500 font-semibold">Product Description</label>
              <ckeditor name="myckeditor" debounce="300" [config]="
        {
          toolbar: {
            items: [
                'undo', 'redo',
                '|', 'heading',
                '|', 'fontfamily', 'fontsize', 'fontColor', 'fontBackgroundColor',
                '|', 'bold', 'italic', 'strikethrough', 'subscript', 'superscript',
                '|', 'bulletedList', 'numberedList',
                '|', 'insertTable',
                '|', 'link'
            ],
            shouldNotGroupWhenFull: true
          }
        }" [editor]="Editor" formControlName="productDescription">
              </ckeditor>
              <div *ngIf="
            f['productDescription'].invalid &&
            (f['productDescription'].dirty || f['productDescription'].touched)
          " class="text-xs text-red-500">
                <div *ngIf="f['productDescription'].errors?.['required']">
                  Description is required.
                </div>
              </div>
            </div>
            <div>
              <label class="block my-2 text-zinc-500 font-semibold">Product Colors</label>
              <div class="flex justify-between items-center w-[50%] mx-auto">
                <div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Black')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Black</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Green')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Green</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Blue')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Blue</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Mehroon')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Mehroon</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'White')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">White</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Pink')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Pink</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Pista')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Pista</label>
                  </div>
                </div>
                <div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Purple')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Purple</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Henna(Mehndi)')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Henna(Mehndi)</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Yellow')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Yellow</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Orange')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Orange</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Master')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Master</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Brown')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Brown</label>
                  </div>
                  <div class="flex items-center gap-x-2">
                    <input type="checkbox" (change)="onColorChange($event, 'Navy Blue')">
                    <label class="block my-2 text-zinc-400 font-semibold text-sm">Navy Blue</label>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <label class="block my-2 text-zinc-500 font-semibold">Product Sizes</label>
              <div class="flex items-center gap-x-4">
                <div class="flex items-center gap-x-2">
                  <input type="checkbox" (change)="onSizeChange($event, 'Small')">
                  <label class="block my-2 text-zinc-400 font-semibold text-sm">Small</label>
                </div>
                <div class="flex items-center gap-x-2">
                  <input type="checkbox" (change)="onSizeChange($event, 'Medium')">
                  <label class="block my-2 text-zinc-400 font-semibold text-sm">Medium</label>
                </div>
                <div class="flex items-center gap-x-2">
                  <input type="checkbox" (change)="onSizeChange($event, 'Large')">
                  <label class="block my-2 text-zinc-400 font-semibold text-sm">Large</label>
                </div>
                <div class="flex items-center gap-x-2">
                  <input type="checkbox" (change)="onSizeChange($event, 'Excel')">
                  <label class="block my-2 text-zinc-400 font-semibold text-sm">Excel</label>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5 shadow-md bg-white rounded-sm">
            <p class="text-zinc-500 font-semibold px-5 py-4">Product Gallery</p>
            <div class="border-t-2 border-zinc-100">
              <p class="block mt-1 text-zinc-500 font-semibold px-5 py-2">
                Product Image
              </p>
              <p class="px-5 text-zinc-400 text-sm">Add Product main Image</p>
              <div class="mt-1">
                <div class="flex justify-center items-center w-full">
                  <label for="dropzone-profile-image"
                    class="flex flex-col justify-center items-center w-full h-40 rounded-lg cursor-pointer ">
                    <div class="h-full w-full flex justify-center items-center">
                      <img [src]="profile_preview" *ngIf="profile_preview" class="h-full w-full object-contain">
                      <div *ngIf="!profile_preview">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                          stroke="currentColor" class="h-[100px] w-[130px] text-gray-500">
                          <path stroke-linecap="round" stroke-linejoin="round"
                            d="m2.25 15.75 5.159-5.159a2.25 2.25 0 0 1 3.182 0l5.159 5.159m-1.5-1.5 1.409-1.409a2.25 2.25 0 0 1 3.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 0 0 1.5-1.5V6a1.5 1.5 0 0 0-1.5-1.5H3.75A1.5 1.5 0 0 0 2.25 6v12a1.5 1.5 0 0 0 1.5 1.5Zm10.5-11.25h.008v.008h-.008V8.25Zm.375 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                        </svg>
                      </div>
                    </div>
                    <input id="dropzone-profile-image" type="file" accept="image/*"
                      (change)="uploadImage($event, 'productMainImage')" class="hidden">
                  </label>
                </div>
                <p class="text-center text-sm text-red-500" *ngIf="!isImage[0]">{{ is_not_image_message }}</p>
              </div>
            </div>

            <div class="px-5 pb-5">
              <div>
                <p class="block mt-1 text-zinc-500 font-semibold py-2">
                  Product Gallery
                </p>
                <p class="text-zinc-400 text-sm">Add Product Gallery Images</p>
              </div>
              <div class="flex flex-wrap gap-4 items-center my-4">
                <div *ngFor="let img of images; let i = index" (mouseenter)="hoveredCard = i" (mouseleave)="hoveredCard = -1" class="relative">
                  <img [src]="img" alt="Uploaded Image {{ i }}" class="w-[150px] h-[150px] object-cover rounded-md">
                  <div [ngClass]="{'hidden': hoveredCard !== i}" class="absolute -top-3 -right-3 bg-white w-8 h-8 flex items-center justify-center border border-red-600 rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" (click)="removeImage(i)" viewBox="0 0 24 24" fill="currentColor"  class="w-5 h-5 text-red-600 cursor-pointer icon-size-5">
                      <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd" />
                    </svg>
                  </div>
                </div>
            
                <div class="w-[150px] h-[150px] flex items-center justify-center border border-dashed border-gray-400 rounded-md">
                  <label for="file-upload" class="cursor-pointer">
                    <span class="text-3xl font-semibold text-gray-500">+</span>
                  </label>
                  <input type="file" id="file-upload" (change)="onFileSelected($event)" class="hidden" accept="image/*">
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="block sm:w-1/3 sm:mt-5 sm:mr-5 mt-3 px-3 sm:px-0">
          <div class="mb-5 shadow-md bg-white rounded-sm">
            <p class="text-zinc-500 font-semibold px-5 py-4">Publish</p>
            <div class="border-t-2 border-zinc-100">
              <div class="px-5 pb-5">
                <label class="block text-sm font-medium text-gray-700 mb-1 w-full">Status:</label>
                <ng-select placeholder="Select--"
                  class="lg:w-80 border rounded-md text-xs cursor-pointer text-gray-800 placeholder-gray-800"
                  [items]="status" bindLabel="name" bindValue="id" formControlName="status">
                </ng-select>
              </div>
            </div>
          </div>

          <div class="mb-5 shadow-md bg-white rounded-sm">
            <p class="text-zinc-500 font-semibold px-5 py-4">
              Publish Schedule
            </p>
            <div class="border-t-2 border-zinc-100">
              <div class="px-5 pb-5">
                <label for="date" class="py-4 block text-zinc-500">Publish date & Time</label>
                <input placeholder="Enter publish date" formControlName="productDateTime"
                  class="text-sm text-zinc-500 font-sans w-full rounded-md focus:outline-none focus:ring-zinc-400 focus:accent-zinc-400 focus:border-zinc-400"
                  type="text" onfocus="(this.type='datetime-local')" onblur="(this.type='text')" id="date" />
              </div>
            </div>
          </div>
          <div class="mb-5 shadow-md bg-white rounded-sm">
            <p class="text-zinc-500 font-semibold px-5 py-4">
              Product Categories
            </p>
            <div class="border-t-2 border-zinc-100">
              <div class="px-5 pb-5">
                <label class="block text-sm font-medium text-gray-700 mb-1 w-full">Select product category:</label>
                <ng-select placeholder="Select--"
                  class="lg:w-80 border rounded-md text-xs cursor-pointer text-gray-800 placeholder-gray-800"
                  [items]="categories" bindLabel="name" bindValue="id" formControlName="category">
                </ng-select>
                <div *ngIf="f['category'].invalid && (f['category'].dirty || f['category'].touched)"
                  class="text-xs text-red-500">
                  <div *ngIf="f['category'].errors?.['required']">
                    Category is required.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-5 shadow-md bg-white rounded-sm">
            <p class="text-zinc-500 font-semibold px-5 py-4">General Info</p>
            <div class="border-t-2 border-zinc-100">
              <div class="px-5 pb-5">
                <label for="price" class="py-4 block text-zinc-500">Price</label>
                <input id="price" formControlName="productPrice" (keypress)="numberOnly($event)"
                  class="rounded-md w-full text-sm focus:ring-zinc-400 focus:accent-zinc-400 focus:border-zinc-400"
                  type="text" placeholder="Enter price" />
                <div *ngIf="f['productPrice'].invalid && (f['productPrice'].dirty || f['productPrice'].touched)"
                  class="text-xs text-red-500">
                  <div *ngIf="f['productPrice'].errors?.['required']">
                    Price is required.
                  </div>
                  <div *ngIf="addProductForm.get('productPrice')?.hasError('greaterThanZeroWithoutLeadingZero')">
                    Price must be greater than zero and not start with zero.
                  </div>
                </div>
              </div>
              <div class="px-5 pb-5">
                <label for="discount"
                  class="py-4 block text-zinc-500 focus:ring-zinc-400 focus:accent-zinc-400 focus:border-zinc-400">Discount</label>
                <input type="text" formControlName="productDiscount" (keypress)="numberOnly($event)"
                  class="rounded-md w-full text-sm focus:ring-zinc-400 focus:accent-zinc-400 focus:border-zinc-400"
                  placeholder="Enter discount" />
                <div
                  *ngIf="f['productDiscount'].invalid && (f['productDiscount'].dirty || f['productDiscount'].touched)"
                  class="text-xs text-red-500">
                  <div *ngIf="addProductForm.get('productDiscount')?.hasError('invalidDiscount')">
                    Discount must be a number between 0 and 100.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sm:text-end mt-3 px-2 sm:px-2 sm:w-2/3 w-full md:w-2/3 pb-3">
        <button type="submit" [disabled]="addProductForm.invalid || loader"
          class="bg-zinc-700 w-full flex items-center justify-center sm:w-52 sm:mr-4 text-white mr-0 sm:px-8 py-2 rounded-md transition hover:bg-zinc-600 duration-300 disabled:bg-gray-300 disabled:text-gray-500 disabled:cursor-not-allowed">
          <span class="mr-2">Add Product</span>
          <ion-spinner class="text-white" *ngIf="loader" name="crescent"></ion-spinner>
        </button>
      </div>
    </div>
  </form>
</ion-content>