<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!product || loader" class="flex justify-center h-[232px] pt-20">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  <div class="w-full lg:w-[80%] lg:mx-auto px-5 lg:px-0" *ngIf="product|| loader">
    <div class="flex justify-between items-center w-full pt-5 overflow-x-auto">
      <img [src]="product?.productGalleryImageOne" alt=""
        class="w-[90%] h-[500px] sm:w-[80%] sm:h-[500px] md:w-[70%] md:h-[500px] lg:w-[60%] lg:h-[600px] xl:w-[30%] xl:h-auto mr-5 rounded-3xl">
      <img [src]="product?.productMainImage" alt=""
        class="w-[90%] h-[500px] sm:w-[80%] sm:h-[500px] md:w-[70%] md:h-[500px] lg:w-[60%] lg:h-[600px] xl:w-[30%] xl:h-auto mr-5 rounded-3xl">
      <img [src]="product?.productGalleryImageTwo" alt=""
        class="w-[90%] h-[500px] sm:w-[80%] sm:h-[500px] md:w-[70%] md:h-[500px] lg:w-[60%] lg:h-[600px] xl:w-[30%] xl:h-auto rounded-3xl">
    </div>
  </div>
  <div class="w-full lg:w-[80%] lg:mx-auto px-5 lg:px-0" *ngIf="product || loader">
    <div class="lg:flex lg:justify-between w-full pt-10">
      <div class="lg:w-full lg:mx-0 w-full mx-auto">
        <div class="lg:flex lg:justify-between w-full pl-2">
          <div class="w-1/3 border border-gray-200 rounded-l-lg">
            <div class="font-sans lg:w-1/3 lg:mx-0 w-full mx-auto pl-2">
              <p class="text-2xl lg:text-lg font-bold font-sans text-gray-800">{{product?.productName}}</p>
              <p class="text-gray-400 lg:text-sm text-2xl pt-2">{{product?.categoryName}}</p>
              <p class="font-bold text-gray-800 lg:text-base text-2xl pt-2">{{product?.productPrice}} -
                {{product?.discountedPrice}}</p>
            </div>
            <div class="lg:w-full w-full">
              <p class="font-bold pt-3 pl-2 font-sans text-2xl lg:text-base">Product Details</p>
              <div class="flex justify-between items-center text-xl pl-2 lg:text-sm pt-2">
                <p class="font-medium lg:text-sm text-xl">Category</p>
                <p class="pr-2 text-gray-400 lg:text-xs text-lg">{{product?.category}}</p>
              </div>
              <p class="border border-t-1"></p>
              <div class="flex justify-between items-center text-sm pt-2 pl-2">
                <p class="font-medium lg:text-sm text-xl">Status</p>
                <p class="pr-2 text-gray-400 lg:text-xs text-lg">{{product?.status}}</p>
              </div>
            </div>
          </div>
          <div class="pl-2 border border-gray-200 rounded-r-lg w-2/3">
            <p class="font-bold  pt-1 text-xl lg:text-base">Description</p>
            <p class="pr-2 text-gray-400 lg:text-xs text-base py-2" [innerHTML]="product?.productDescription"></p>
          </div>
        </div>
        <div class="mt-4 w-full border border-gray-50 shadow-sm rounded-xl mb-4 p-2">
          <h2 class="text-lg font-bold font-sans mb-2 pl-2 pt-2">Size Chart</h2>
          <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-gray-200 w-full">
              <thead>
                <tr class="">
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Sizes
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Shoulder
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Chest
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Waist
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Hip
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Armhole
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Sleeves Length
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Trouser Length
                  </th>
                  <th scope="col" class="px-2 py-3 text-left text-xs font-light text-white uppercase tracking-wider">
                    Shirt Length
                  </th>
                </tr>
              </thead>
              <tbody class="bg-white divide-y divide-gray-200">
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    X
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    15.5
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    36
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    30
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    37
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    8
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    24
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    38
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    28
                  </td>
                </tr>
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    M
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    16.5
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    38
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    32
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    39
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    9
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    25
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    40
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    30
                  </td>
                </tr>
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    L
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    17.5
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    40
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    33
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    39
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    10
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    26
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    42
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    32
                  </td>
                </tr>
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    XL
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    18.5
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    42
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    35
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    41
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    12
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    28
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    42
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    33
                  </td>
                </tr>
                <tr>
                  <td class="px-2 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                    XXL
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    19.5
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    44
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    36
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    42
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    13
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    30
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    44
                  </td>
                  <td class="px-2 py-4 whitespace-nowrap text-sm text-gray-900">
                    34
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
